html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Sora', sans-serif;
}
:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
  --purple:rgb(73, 8, 146);
  --main-color:rgb(27, 27, 124);
  --color-1:#e91e63;
  --color-2:#f5ae10;
  --color-2:#09d69c;
  --bg-dark:black;
  --main-to-dark-color:var(--main-color);
  --dark-to-main-color:var(--bg-dark);
  --shadow-balck-100:0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-balck-300:0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --blask-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.int{
  text-decoration: none;
  width: 300px;
  height: 50px;
  border: none;
  background-color: #c4c6c7;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.4;
}
.int1 {
  text-decoration: none;
  width: 300px;
  height: 50px;
  border: none;
  margin-left: -100px;
  margin-top: 10px;
  background-color: #c4c6c7;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.4;
}
.int:focus {
  text-decoration: none;
  width: 400px;
  height: 50px;
  margin-left: -50px;
  transition: 1s ease;
  border: none;
  background-color: #c4c6c7;
  outline: green;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.9;
}
.btn {
  background-color: #fff;
  padding: 12px 30px;
  width: 400px;
  margin-left: -50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-balck-300);
  font-weight: 500;

}

.btn:focus {
  box-shadow: var(--shadow-balck-300);
}

.btn:hover {
  color: #fff;
  background-color: var(--main-color);
}
.span{
  background: linear-gradient(to right, #803bec 30%, #1b1b1b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:24px;
  margin-left:-50px;
  padding-top:5px;
}
.form{
  margin: center;
}
.backgorund{




}
.h2{

  background: linear-gradient(to right, #803bec 30%, #1b1b1b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.skill{
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;

  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);

}
.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);

}
#number{
  font-weight: 600;
  color: #555;

}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;

}
.svg{
position: absolute;  

}
@keyframes anim{
  100%{
    stroke-dashoffset:165;
  }
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading svg{
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 1s ease-in-out infinite;
}
@keyframes text{
  50%{ opacity: 0.1;}
}
.loading polygon{
  stroke-dasharray: 22;
  stroke-dashoffset: 1;
  animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
  infinite alternate-reverse;
}
@keyframes dash{
  to{stroke-dashoffset: 234;}
}
.byr{
  border-radius: 50%;
}
.tra{
  color: blue;
  cursor: pointer;
}
 .qa {
  height: 100%;
align-items: center;
text-align: center;
justify-content: center;
margin: auto;
}
.qa h1 {
  font-size: 36px;
  font-family:   'Sora', sans-serif;
  color: black;

  
}

.qaLine1 {
  display: flex;
  justify-content: space-between;
}

.question {
  justify-content: space-between;
  display: flex;
}

.question2 {
  justify-content: space-between;
  display: flex;
}

.questions {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
}

.questionsAfter {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 200px;
  background-color: rgb(63, 81, 181);
}

.questions p {
  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family: 'Sora', sans-serif;
}

.questionsAfter p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.questions2 {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
}

.questions2After {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 200px;
  background-color: rgb(63, 81, 181);
}

.questions2After p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family:'Sora', sans-serif;
}

.questions2 p {
  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family:'Sora', sans-serif;
}


.qaLine2 {
  margin-top: 30px;
  ;
  display: flex;
  justify-content: space-between;
}

.question3 {
  justify-content: space-between;
  display: flex;
}

.question4 {
  justify-content: space-between;
  display: flex;
}

.questions3 {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
}

.questions3After {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 200px;
  background-color: rgb(63, 81, 181);
}

.questions3After p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family: 'Sora', sans-serif;
}

.questions3 p {
  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family: 'Sora', sans-serif;
}

.questions4 {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
}

.questions4 p {

  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family: 'Sora', sans-serif;
}

.questions4After {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 300px;
  background-color: rgb(63, 81, 181);
}

.questions4After p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family: 'Sora', sans-serif;
}


/* aa */
.question5 {
  justify-content: space-between;
  display: flex;
}
.questions5 {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
}

.questions5 p {

  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family: fahkwang;
}

.questions5After {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 700px;
  background-color: rgb(63, 81, 181);
}

.questions5After p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family: fahkwang;
}
.question6 {
  justify-content: space-between;
  display: flex;
}

.question4 {
  justify-content: space-between;
  display: flex;
}

.questions6 {
  width: 540px;
  height: 115px;
  border: 2px solid rgba(128, 128, 128, 0.432);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.questions6After {
  padding: 20px;
  border-radius: 8px;
  width: 540px;
  height: 500px;
  background-color:rgb(63, 81, 181);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.questions6After p {
  font-weight: 350;
  font-size: 24px;
  color: white;
  font-family: fahkwang;
}

.questions6 p {
  font-weight: 350;
  font-size: 24px;
  color: black;
  font-family: fahkwang;
  text-align: center;
}
@media screen and (max-width:500px) {
  .qa {
      height: 100%;
      width: 100%;
  }

  .qa h1 {
      font-size: 35px;
      font-family: nuaMachina;
      color: white;
      margin-top: 170px;
      text-align: center;
  }

  .qaLine1 {
      display: flex;
      flex-direction: column;

      align-items: center;
  }

  .questions {
      width: 345px;
      height: 85px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 50px;
  }

  .questions p {
      font-weight: 350;
      font-size: 19px;
      color: white;
      font-family: fahkwang;
  }

  .questionsAfter {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 404px;
      background-color: rgb(36, 133, 224);
      margin-bottom: 30px;
  }

  .questionsAfter p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }

  .questions2 {
      width: 345px;
      height: 65px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 20px;
      border-radius: 8px;
  }

  .questions2 p {
      font-weight: 350;
      font-size: 20px;
      color: white;
      font-family: fahkwang;
  }

  .questions2After {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 404px;
      background-color: rgb(36, 133, 224);
  }

  .questions2After p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }

  .qaLine2 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
  .qaLine3 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
  .questions3 {
      width: 345px;
      height: 65px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 50px;
      margin-top: 20px;
  }

  .questions3 p {
      font-weight: 350;
      font-size: 20px;
      color: white;
      font-family: fahkwang;
  }

  .questions3After {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 204px;
      background-color: rgb(36, 133, 224);
      margin-bottom: 50px;
  }

  .questions3After p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }

  .questions4 {
      width: 345px;
      height: 64px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 15px;
      border-radius: 8px;
  }

  .questions4 p {
      font-weight: 350;
      font-size: 20px;
      color: white;
      font-family: fahkwang;
  }

  .questions4After {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 205px;
      background-color: rgb(36, 133, 224);
      margin-bottom: 50px;
  }

  .questions4After p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }
  /* aa */
  .qaLine3 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
  .qaLine6 {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
  .questions6 {
      width: 345px;
      height: 65px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 50px;
      margin-top: 20px;
  }

  .questions6 p {
      font-weight: 350;
      font-size: 20px;
      color: white;
      font-family: fahkwang;
  }

  .questions6After {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 224px;
      background-color: rgb(36, 133, 224);
      margin-bottom: 50px;
  }

  .questions6After p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }

  .questions5 {
      width: 345px;
      height: 64px;
      border: 2px solid rgba(128, 128, 128, 0.432);
      padding: 15px;
      border-radius: 8px;
  }

  .questions5 p {
      font-weight: 350;
      font-size: 20px;
      color: white;
      font-family: fahkwang;
  }

  .questions5After {
      padding: 20px;
      border-radius: 8px;
      width: 345px;
      height: 205px;
      background-color: rgb(36, 133, 224);
      margin-bottom: 50px;
  }

  .questions5After p {
      font-weight: 350;
      font-size: 17px;
      color: white;
      font-family: fahkwang;
  }
}