html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root {
  /* Colors */
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
  --purple:rgb(73, 8, 146);
  --main-color:rgb(27, 27, 124);
  --color-1:#e91e63;
  --color-2:#f5ae10;
  --color-2:#09d69c;
  --bg-dark:black;
  --main-to-dark-color:var(--main-color);
  --dark-to-main-color:var(--bg-dark);
  --shadow-balck-100:0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-balck-300:0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --blask-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.int{
  text-decoration: none;
  width: 300px;
  height: 50px;
  border: none;
  background-color: #c4c6c7;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.4;
}
.int1 {
  text-decoration: none;
  width: 300px;
  height: 50px;
  border: none;
  margin-left: -100px;
  margin-top: 10px;
  background-color: #c4c6c7;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.4;
}
.int:focus {
  text-decoration: none;
  width: 400px;
  height: 50px;
  margin-left: -50px;
  transition: 1s ease;
  border: none;
  background-color: #c4c6c7;
  outline: green;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  padding-top: 10px;
  opacity: 0.9;
}
.btn {
  background-color: #fff;
  padding: 12px 30px;
  width: 400px;
  margin-left: -50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  box-shadow: var(--shadow-balck-300);
  font-weight: 500;

}

.btn:focus {
  box-shadow: var(--shadow-balck-300);
}

.btn:hover {
  color: #fff;
  background-color: var(--main-color);
}
.span{
  background: linear-gradient(to right, #803bec 30%, #1b1b1b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:24px;
  margin-left:-50px;
  padding-top:5px;
}
.form{
  margin: center;
}
.backgorund{




}
.h2{

  background: linear-gradient(to right, #803bec 30%, #1b1b1b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.skill{
  width: 160px;
  height: 160px;
  /* background: cornflowerblue; */
  position: relative;
}
.outer{
  height: 160px;
  width: 160px;
  border-radius: 50%;

  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);

}
.inner{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);

}
#number{
  font-weight: 600;
  color: #555;

}
circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;

}
.svg{
position: absolute;  

}
@keyframes anim{
  100%{
    stroke-dashoffset:165;
  }
}